<!doctype html>
<html lang="en">

<head th:include="fragments/fragments.html :: head" />

<body>
<div class="page">
  <div th:include="fragments/fragments.html :: navbar" />
  <div class="main__page-card">
    <h1 class="text__color-pink">Warning</h1>
    <h2 class="text__color-gray mb-2">Can not remove this Test Center as long as it has active appointments  </h2>
    <a th:href="@{/admin/manageTestCenter}" type="submit" class="text-uppercase btn btn-primary login__button shadowed w-50">Back</a>
  </div>
</div>
<footer th:include="fragments/fragments.html :: footer" class="mt-5" />
</body>

</html>