<!doctype html>
<html lang="en">

<head th:include="fragments/fragments.html :: head" />

<body>
<div class="page">
  <div th:include="fragments/fragments.html :: navbar" />
  <div class="main__page-card">
    <h1 class="text__color-pink">Error</h1>
    <h2 class="text__color-gray mb-2">Something is wrong or no access.</h2>
    <a th:href="@{/}" type="submit" class="text-uppercase btn btn-primary login__button shadowed w-50">Go Back</a>
  </div>
</div>
<footer th:include="fragments/fragments.html :: footer" class="mt-5" />
</body>

</html>