<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--<head th:include="fragments/head :: head" />-->
<head th:insert="fragments/fragments.html :: head"></head>
<style>

    #showTables td {
        font-family: Arial, Helvetica, sans-serif;
        padding: 8px;
        color: #618186;
        font-weight: bold;
    }
</style>



<body>

<div class="page">

   <div th:replace="~{fragments/fragments.html :: navbar}"></div>

    <div class="main__page-card">
        <h1 >COVID19</h1>
        <h1 >Test Centers</h1>
        <h2 sec:authorize="isAuthenticated()">Protect yourself and others. Get tested today!</h2>

        <br />

        <div class="card" style="width: 60rem;">
            <div class="card-header">
                <h2 >Our test centers!</h2>
            </div>
            <table id="showTables" class="card-table table" style="color:black">
                <thead>
                <tr>
                    <th ></th>
                    <th ></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="TestCenter :  ${myTestCenters}">
                    <b><td th:text="${TestCenter.getName()}"></td></b>
                    <td th:text="${iAddressService.findAddressById(TestCenter.getCenterAddressid()).toString()}"></td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>



</div>
    <footer th:include="fragments/fragments.html :: footer" class="mt-5" />
</div>




</body>

</html>


